body {
  background-color: #1a1a1a;
  font-family: "IBM Plex Mono", monospace;
  color: white;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100dvh;
  background-image: radial-gradient(    rgba(255, 200, 60,.5) 9%,    transparent 9%  );
  background-position: 0% 0%;
  background-size: 5vmin 5vmin;
  transition: background-position .3s ease-in-out;
}

.content {
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
body a {
  color: rgb(255, 200, 60);
  text-decoration: none;
  z-index: 0;
  background: #0c0c0c;
}
body a :hover {
  color: #0c0c0c;
  background: rgb(255, 200, 60);
}
.sass {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
.sass:hover div {
  opacity: 1;
  width: 200px;
  padding: 2rem;
  border: 5px solid white;
  transition: opacity 0.3s linear, width 0.3s linear, padding 0s linear,
    border 0s linear;
}
.sass > div {
  position: absolute;
  line-height: 2rem;
  bottom: 0;
  right: 0;
  width: 0;
  height: 36.5ch;
  background: #0c0c0c;
  padding: 0;
  border: 0px solid white;
  transition: opacity 0.3s linear, width 0.3s linear, padding 0s linear 0.3s,
    border 0s linear 0.3s;
  border-radius: 1rem;
  opacity: 0;
  overflow: hidden;
}

.sass > div > ul {
  z-index: 3;
  position: absolute;
  width: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
}
.card {
  height: 250px;
  width: 250px;
  border: 5px solid white;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  justify-content: center;
}
.card canvas {
  height: 100%;
  width: 100%;
  opacity: 0.7;
  background: rgb(255, 200, 60);
  filter: grayscale(1);
  transition: filter 0.7s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
}
.card h3 {
  padding: 0.5rem 1rem;
  margin: 0;
}
.card div {
  position: absolute;
  bottom: -2rem;
  right: 0;
  left: 0;
  margin: 0 1rem;
  opacity: 0;
  transition: bottom 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.card:hover div {
  bottom: 2rem;
  opacity: 1;
}
.card:hover canvas {
  filter: grayscale(0);
}

body:hover:has(.card:nth-child(1):hover){
  background-position: -1% -1%;
}
body:hover:has(.card:nth-child(2):hover){
  background-position: 1% -1%;
}
body:hover:has(.card:nth-child(3):hover){
  background-position: -1% 1%;
}
body:hover:has(.card:nth-child(4):hover){
  background-position: 1% 1%;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 2rem;
    background-size: 10vmin 10vmin;
  }
  .cards {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
  }
  body:hover:has(.card:nth-child(1):hover){
    background-position: 0% -2%;
  }
  body:hover:has(.card:nth-child(2):hover){
    background-position: 0% -1%;
  }
  body:hover:has(.card:nth-child(3):hover){
    background-position: 0% 1%;
  }
  body:hover:has(.card:nth-child(4):hover){
    background-position: 0% 2%;
  }
}

