body {
  margin: 0;
  font-family: "CuteCubes";
}
body.night {
  color: #a57dff;
}
body.day {
  color: #46bbf6;
}
.hero,
.background {
  width: 100vw;
  height: 100vh;
}
.background {
  background-repeat: repeat;
  background-position: center top;
  background-image: url("../assets/Steam_Summer_Sale_pattern-04-day_lighter.gif");
  background-color: #010404;
}
.hero {
  position: absolute;
  top: -0.4px;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center top;
  background-repeat: no-repeat;
}

.text,
.scan {
  width: 390px;
  height: 95px;
  display: block;
  position: absolute;
  top: 181px;
  left: 50%;
  transform: translate(-60%);
}
.text {
  display: flex;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.time {
  font-size: 2.5rem;
}
.date {
  font-size: 1.5rem;
}
body.day span.scan {
  background: linear-gradient(
    to bottom,
    #305791,
    #305791 2px,
    #4b619b,
    #4b619b 4px
  );
}
body.night span.scan {
  background: linear-gradient(
    to bottom,
    #643c93,
    #643c93 2px,
    #41319b,
    #41319b 3px
  );
}

body.day span.scan,
body.night span.scan {
  transform-origin: center;
  background-size: 100% 6px;
  background-position-y: 0px;
  filter: blur(0.3px);
}
.animate {
  animation: scan .3s linear infinite 27ms;
}
@keyframes scan {
  0% {
    background-position-y: 0px;
  }
  30%{
    background-position-y:0px
  }
  50% {
    background-position-y: 3px;
  }
  80%{
    background-position-y:3px
  }
  100% {
    background-position-y: 6px;
  }
}

@font-face {
  font-family: "CuteCubes";
  src: local("joystix"), url("joystix.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
