:root {
  --repeat: 0.3s; /* animation timing */
  --height: 6px; /* total pixel height from scanline top to bottom of animation */
  --area: 33%; /* percentage of height the scanline covers */
}
body {
  margin: 0;
}
div {
  width: 100vw;
  height: 100vh;
}
.background {
  background-repeat: repeat;
  background-position: center top;
  background-image: url("../assets/Steam_Summer_Sale_pattern-04-day_lighter.gif");
  background-color: #010404;
}
.hero {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center top;
  background-repeat: no-repeat;
}

span {
  width: 390px;
  height: 95px;
  display: block;
  position: absolute;
  top: 179px;
  left: 50%;
  transform: translate(-60%);
}

body.day span.scan {
  background: linear-gradient(
    to bottom,
    #305791,
    #305791 var(--area),
    #4b619b var(--area),
    #4b619b
  );
}
body.night span.scan {
  background: linear-gradient(    to bottom,#643c93 var(--area),    #643c93,    #41319b,    #41319b var(--area)      );
}

body.day span.scan,
body.night span.scan {
  transform-origin: center;
  background-size: 100% var(--height);
  background-position-y: 0px;
  filter: blur(0.3px);
}
body.night span.text{
  color:red;
}
body.day span.text{
  color:green;
}
.animate {
  animation: scan var(--repeat) linear infinite;
}
@keyframes scan {
  0% {
    background-position-y: 0px;
  }
  70%{
    background-position-y: calc(var(--height) - 1px / 2);
  }
  100% {
    background-position-y: var(--height);
  }
}
